{{!< default}}
<section class="flex justify-center items-center my-16 flex-col sm:flex-row sm:gap-20">
  <div class="flex flex-col items-center sm:items-start w-full sm:w-1/2">
    <h1 class="text-4xl md:text-5xl font-bold">Sobre a associação</h1>
    <hr class="bg-black my-6 h-[2px] md:h-[3px] w-full" />
    <p class="text-lg md:text-xl mb-6 text-center sm:text-left">
      A finalidade do Instituto André Rebouças é estar à frente da comunidade
      como reza o nosso estatuto, trazendo melhorias sociais e culturais sem
      desprezar o incentivo pela luta da igualdade entre pessoas, sem
      descriminação de raça ou credo.
    </p>
  </div>
  <div class="w-full sm:w-1/2">
    <img class="w-auto h-auto rounded-lg" src="{{asset 'img/zona-oeste-sp.jpg'}}" alt="Imagem da Zona Oeste de São Paulo" />
  </div>
  </section>
  <section class="flex justify-center items-center my-32 gap-20">
    <div class="flex flex-col justify-center items-center sm:items-start">
      <h2 class="text-3xl sm:text-4xl font-semibold">Nossa história</h2>
      <p class="text-lg sm:text-xl mb-6 mt-4 text-center sm:text-left">
        O Instituto André Rebouças foi fundado em 10/02/1993, por um grupo de
        amigos e moradores da comunidade e adjacências do Jaraguá, Zona Oeste da
        capital. Seus fundadores e atual direção são pessoas que atuam ou atuaram
        nas principais ações comunitárias da cidade. O nome Instituto é uma
        referência ao grande abolicionista e engenheiro André Rebouças. Durante a
        sua trajetória, o Instituto sempre procurou se firmar como ponto de
        referencia e resistência a população carente existente na região, a nossa
        pretensão é de conquistar através de ações-afirmativas a confiança
        necessária para representar a comunidade junto aos órgãos governamentais e
        a iniciativa privada, a fim de conquistar os avanços sociais que a
        comunidade necessita. Após a arrancada inicial, o Instituto teve que
        enfrentar as mais diversas dificuldades, como: a participação dos
        comerciantes e empresas locais a fim de se engajarem no caráter social da
        proposta do Instituto. Foram tempos difíceis, mas, sempre enfrentados de
        frente pela atual diretoria e seus precursores. A partir de então, ficou
        evidente a necessidade de reorganizar o Instituto e suas propostas. A
        partir de maio de 2022, após diversas articulações junto à diretoria
        anterior e um grupo de simpatizantes, que viam com bons olhos as propostas
        do Instituto foi feita a retomada do Instituto, foi necessário promover
        adequações estatutárias a fim de que fosse possível atuar também como
        Sociedade de Bairro, e uma organização Não-Governamental. Inserindo o
        desejo de oferecer cursos Profissionalizantes, Oficinas de Canto Coral,
        Oficinas de Artesanatos e Pinturas, Esportes e principalmente Cultura,
        oferecer passeios aos alunos das escolas locais aos principais pontos
        históricos da cidade de São Paulo, sem contar é lógico, com as reuniões de
        lideranças a fim de organizar a principais metas da atuação da entidade na
        vida dos moradores da região.
      </p>
    </div>
  </section>
  <section class="flex flex-col justify-center items-center my-32 gap-10">
    <div class="flex flex-col justify-center items-center">
      <h2 class="text-4xl font-semibold">Diretoria</h2>
      <p class="text-lg my-4">Conheça nossa atual gestão</p>
    </div>
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-center gap-10 items-center">
      <li class="shadow-md transition duration-300 ease-in-out transform hover:shadow-lg rounded-lg w-52 partner">
        <div class="p-4 bg-white rounded-lg">
          <h3 class="text-xl font-bold">Fulano de tal</h3>
          <p class="text-sm">Subhead</p>
          <p class="mt-2 text-md">
            desde 2015, atua no setor tal, auxiliando em tais atividades
          </p>
        </div>
      </li>
      <li class="shadow-md transition duration-300 ease-in-out transform hover:shadow-lg rounded-lg w-52 partner">
        <div class="p-4 bg-white rounded-lg">
          <h3 class="text-xl font-bold">Fulano de tal</h3>
          <p class="text-sm">Subhead</p>
          <p class="mt-2 text-md">
            desde 2015, atua no setor tal, auxiliando em tais atividades
          </p>
        </div>
      </li>
      <li class="shadow-md transition duration-300 ease-in-out transform hover:shadow-lg rounded-lg w-52 partner">
        <div class="p-4 bg-white rounded-lg">
          <h3 class="text-xl font-bold">Fulano de tal</h3>
          <p class="text-sm">Cargo</p>
          <p class="mt-2 text-md">
            desde 2015, atua no setor tal, auxiliando em tais atividades
          </p>
        </div>
      </li>
      <li class="shadow-md transition duration-300 ease-in-out transform hover:shadow-lg rounded-lg w-52 partner">
        <div class="p-4 bg-white rounded-lg">
          <h3 class="text-xl font-bold">Fulano de tal</h3>
          <p class="text-sm">Subhead</p>
          <p class="mt-2 text-md">
            desde 2015, atua no setor tal, auxiliando em tais atividades
          </p>
        </div>
      </li>
      <li class="shadow-md transition duration-300 ease-in-out transform hover:shadow-lg rounded-lg w-52 partner">
        <div class="p-4 bg-white rounded-lg">
          <h3 class="text-xl font-bold">Fulano de tal</h3>
          <p class="text-sm">Subhead</p>
          <p class="mt-2 text-md">
            desde 2015, atua no setor tal, auxiliando em tais atividades
          </p>
        </div>
      </li>
      <li class="shadow-md transition duration-300 ease-in-out transform hover:shadow-lg rounded-lg w-52 partner">
        <div class="p-4 bg-white rounded-lg">
          <h3 class="text-xl font-bold">Fulano de tal</h3>
          <p class="text-sm">Subhead</p>
          <p class="mt-2 text-md">
            desde 2015, atua no setor tal, auxiliando em tais atividades
          </p>
        </div>
      </li>
      <li class="shadow-md transition duration-300 ease-in-out transform hover:shadow-lg rounded-lg w-52 partner">
        <div class="p-4 bg-white rounded-lg">
          <h3 class="text-xl font-bold">Fulano de tal</h3>
          <p class="text-sm">Subhead</p>
          <p class="mt-2 text-md">
            desde 2015, atua no setor tal, auxiliando em tais atividades
          </p>
        </div>
      </li>
    </ul>
  </section>