@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .partner {
    flex: 1 1 clamp(100px, 20vw, 108px);
    /* width: min(200px, 400px); */
    max-width: 100%; 
    margin-right: clamp(10px, 2vw, 20px); 
    margin-left: clamp(10px, 2vw, 20px);
    margin-bottom: clamp(10px, 2vw, 20px);
  }

  .body-margin {
    width: min(70%, 2000px);
    margin-inline: auto;
  }
}